@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");

.ql-font-ibm_plex_sans {
  font-family: "IBM Plex Sans", sans-serif;
}
.ql-font-fredoka_brando {
  font-family: "Fredoka", sans-serif;
}
.ql-font-ubuntu_mono {
  font-family: "Ubuntu Mono", monospace;
}
.ql-font-sofia {
  font-family: "Sofia", cursive;
}
.ql-font-Josefin_slab {
  font-family: "Josefin Slab", serif;
}
